* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
}

.lead {
  font-size: 250%;
  color: black;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: #232f34;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
} 

/* Section Images */
section#home {
   background-image: url('base.jpg');  
  
  opacity: 0.7;
  color: Black;
  // background-color:#f9AA33;  //  background: url('https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/') no-repeat center center/cover;;
}

section#about {
    background-image: url('base.jpg');  
     text-align: justify;
     text-align: center;
     opacity: 0.7;
     //text-justify: inter-word;
    //background-image: linear-gradient(#6D6D6D 25%,#CBCBCB 25%,#2F2F2F 25%);
    color: Black;
    //background-color:white;
    //background: url('https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/') no-repeat center center/cover;;
}

section#sponsors {
  background-image: url('base.jpg');  
  color: Black;
  opacity: 0.7;  
  //background-color:#f9AA33;   //background: url('https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/') no-repeat center center/cover;;
}

section#contact {
     background-image: url('base.jpg');  
    color: Black;
    opacity: 0.7;
     //background-color:#f9AA33;   //background: url('https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/') no-repeat center center/cover;;
}


section#rules {
   background-image: url('base.jpg');  
   color: Black;
   opacity: 0.7; 
   //background-color:#f9AA33;
    //background: url('https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/') no-repeat center center/cover;;
}


